<h1>Hello, <%= @user.email %><h1>
<p>Welcome back, you last logged in: <%= @user.last_sign_in_at %></p>

<h1>Post: </h1>
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do |post| %>
      <%= render :partial => "users/post", :locals => {:post => post} %>
    <% end %>
    </tbody>
  </table>


<h1>Comments</h1>
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @user.comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.post do %><%= comment.message %><% end %></td>
        <td><%= comment.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>