<h1>Post: </h1>

<h5>Title: <%= @post.title %></h5>
<p>Url: <%= @post.url %></p>
<p>Owner: <%= @post.user.email %></p>
<p>Date Time: <%= @post.created_at %></p>

<%= button_to "Vote on Post with ID=2", "http://localhost:3000/post_votes/2"%>

<h2>
  Number of votes for this post: 
  <span id="vote_count"><%= @post.post_votes.count %>
  </span>
</h2>

<h1>
<%= link_to("THUMBS UP","#", :class => "btn_vote", 'data-id' => @post.id) %>
</h1>

<!-- we want to be able to create comments here -->
<!-- form here -->

<%= form_for @comment, :remote => true do |f| %>
  <%= f.label :message %>
  <p><%= f.text_field :message, :id => "messageContent" %></p>
  <%= f.text_field :post_id, :value => @post.id, :hidden => true %>
  <%= f.submit "Send" %>
  <div id="error_message"></div>
<% end %>

<!-- I want to list out all the comments made for htis post -->
  <h1>Comments</h1>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Content</th>
        <th>Owner Email</th>
      </tr>
    </thead>
    <tbody id="comments_list">
      <% @post.comments.each do |comment| %>
      <%= render :partial => "comment", :locals => {:comment => comment} %>
    <% end %>
    </tbody>
  </table>

